﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<MvcEntradas.Entity.Shows>" %>

<script type ="text/javascript" src="../../Scripts/fc.js?v=5"></script>
<div>
    <div>
        <div style="font-size:medium">
            <div>
                <label>Archivo:</label>
                <div>
                    <input id="inputFile" type="file" multiple="multiple" />
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Subir" id="btnUpload"/>
                </div>
            </div>
        </div>
     </div>
</div> 
