﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Unauthorized
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<h2>Unauthorized</h2>
<h2>
        No esta autorizado para ver la pagina solicitada. Contactese con el administrador del sistema para más informacion.
    </h2>

<img style= "margin-left:100px;" width="280" height="250" name = "imagen" id = "img" src="../../Content/Images/denegado.jpg">
</asp:Content>
